.badge {
  display: flex;
  justify-content: space-around;
  background-color: bisque;

  &:hover,
  &:active {
    background-color: burlywood;
  }
  & .badge {
    background-color: #92320c;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.cart-quantity {
  padding: .25rem 1rem;
  margin-left: 1rem;
  font-weight: bold;
}