@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700;800&family=Noto+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
}



html, body, #div {
  height: 100%
}


