.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  margin-top: 15%;
  margin-left: 10%;
  position: absolute;
  padding: 1rem;
  width: clamp(200px, 80%, 800px);
  background-color: white;
  z-index: 30;
  border-radius: 14px;

  @media (min-width: 1024px) {
      margin: 15% (calc(50% - 400px));

  }
}
